<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>
		<article>
			<p>
				<span>Seja bem vindo, <strong th:text="${nomeUsuario}"></strong></span>
			</p>
			<p>
				<span>Server: <strong th:text="${server}"></strong></span>
			</p>
			<p>
				<span>Aplicacao: <strong th:text="${aplicacao}"></strong></span>
			</p>
			<p>
				<span>Descrição: <strong th:text="${descricao}"></strong></span>
			</p>
		</article>		
	</section>
	<table>
		<tr>
			<th>Nome</th>
			<th>Email</th>
		</tr>
		<tr th:each="user : ${listaUsuarios}">
			<td th:text="${user.nome}"></td>
			<td th:text="${user.email}"></td>
		</tr>
	</table>
</body>
</html>